{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hem{% endblock %}

{% block content %}
<h1>Välkommen!</h1>

<img class="left" src="img/me.jpg" alt="Hanna och hennes katt">

<p>
    Mitt namn är Hanna och jag är en 26-årig norrlänning uppvuxen i en liten by utanför Luleå i Norrbotten. 
    Där bodde jag tills jag började på universitetet i Luleå, varpå jag flyttade till en studentlägenhet 
    nära campus medan jag tog min kandidatexamen 2019 inom informatik med fokus på digital tjänsteutveckling.
</p>
<p>
    Redan som liten har jag varit intresserad av IT och webbutveckling, där jag redan under mellanstadiet lånade 
    den ikoniskt gul-svarta boken "HTML for Dummies" från biblioteket och knackade hemsidor som en hobby. 
    Andra livslånga intressen har varit tv- och datorspel, skapande av olika slag och bland olika medium, 
    varesig det handlat om bakning, matlagning, cosplay, annat pyssel, kod, digital konst - det finns väldigt 
    få begränsningar. Numera är jag också kattägare av mina två fina tjejkatter Ashen (med på bilden) och Cinder.
</p>
<p>
    De senaste 2,5 åren har jag bott i Malmö och i höstas begav jag mig in på studier igen efter att ha jobbat två år 
    som applikationskonsult inom CRM. Detta för att bredda mina vyer och förhoppningsvis komma ett steg 
    närmre svaret på livets svåraste fråga "Vad vill du bli när du blir stor?"
</p>
<p>
    Denna sida är min sida för kursen DV1608 V22 lp4 Objektorienterade webbteknologier 7,5 hp. 
    Innan denna kurs har jag läst resten av kurspaketet som inkluderar webbteknologier, teknisk webbdesign och 
    användbarhet samt databasteknologier för webben, vilket utöver tidigare studier, hobbies och livserfarenheter 
    också utgör en del av mina förkunskaper.
</p>
{% endblock %}

